@import "./variables.scss";

.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  background-color: rgba(33, 39, 68, 0.7);
  backdrop-filter: blur(10px);
  opacity: 0;
  display: none;
  color: white;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.activeMenu {
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
  display: flex !important;
}

.exitMenu {
  position: absolute;
  right: 5%;
  top: 80px;
  cursor: pointer;
}

.menuListContainer {
  @include flexCenter(space-between);
  flex-direction: column;
  height: 250px;
  font-size: 30px;
}

.menuItem {
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s;
}

.menuItem:hover {
  font-size: 1.2em;
}
