@import "./variables.scss";

.projectsContainer {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "roamingrolls roamingrolls roamingrolls silverbacks  silverbacks "
    "bjj-notes bjj-notes covid-app covid-app covid-app"
    "portfolio portfolio portfolio mat-tracker mat-tracker";
}

.project {
  cursor: pointer;
  transition: all 0.5s;
  height: 600px;
  text-align: center;
}

// projects

.silverbacks {
  grid-area: silverbacks;
  background-color: #74bad4;
}
.roamingrolls {
  grid-area: roamingrolls;
  background-color: #8179b6;
}
.covid-app {
  grid-area: covid-app;
  background-color: #dd8b83;
}
.mat-tracker {
  grid-area: mat-tracker;
  background-color: #d8af88;
}

.portfolio {
  grid-area: portfolio;
  background-color: #829ad2;
}

.bjj-notes {
  grid-area: bjj-notes;
  background-color: #7cb199;
}

.project:hover {
  background-position: center;
  background-color: transparent;
}

.projectImage {
  opacity: 0;
  transition: opacity 0.5s;
  position: relative;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.projectText {
  position: absolute;
  margin-left: 30px;
  margin-top: -300px;
  text-align: start;
}

.projectTitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  transition: all 0.5s;
  margin: 10px 0px;
}

.links {
  text-decoration: none;
  color: white;
}

.projectTitle:hover {
  color: $secondaryColor;
}

.projectDescription {
  color: white;
  font-size: 25px;
  max-width: 400px;
  margin: 10px 0px;
}

.githubIcon {
  color: white;
  transition: all 0.5s;
  margin: 10px 0px;
}
.githubIcon:hover {
  color: $secondaryColor;
}
