@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100vw;
  max-width: 100%;
  background-color: #212744;
  color: white;
  top: 0px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.2em;
  letter-spacing: 3px;
  font-weight: bold;
  position: absolute;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  z-index: 2;
}

.header div {
  margin: 0px 5%;
}

.logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo div {
  margin: 0px 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.logo:hover .myName {
  background-color: #9bf1ff;
}

.logo:hover .logoText {
  color: #9bf1ff;
}

.myName {
  background-color: white;
  color: #212744;
  padding: 2px;
}

.menuSelect {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.menuSelect:hover {
  color: #9bf1ff;
}

.heroImage {
  height: 1000px;
  width: 100vw;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.heroFade {
  width: 100%;
  height: 100%;
  background-color: #212744;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroIntro {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-left: 2px;
}

.heroTitle {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.heroCaption {
  color: white;
  font-size: 40px;
  font-weight: bold;
  color: #cef1f6;
}

.heroCaptionFrag1 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  color: #cef1f6;
  display: none;
}

.heroCaptionFrag2 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  color: #cef1f6;
  display: none;
}

.heroTextContainer {
  margin-left: 10%;
}

.heroText {
  overflow: hidden;
  white-space: nowrap;
}

.initHeroText {
  width: 0px;
}

.animatedHeroIntro {
  -webkit-animation: typing 1s steps(13, end);
          animation: typing 1s steps(13, end);
}

.animatedHeroTitle {
  -webkit-animation: typing 1s steps(13, end);
          animation: typing 1s steps(13, end);
}

.animatedHeroCaption {
  -webkit-animation: typing 3s steps(50, end);
          animation: typing 3s steps(50, end);
}

.animatedHeroCaptionFrag1 {
  -webkit-animation: typing 1s steps(20, end);
          animation: typing 1s steps(20, end);
}

.animatedHeroCaptionFrag2 {
  -webkit-animation: typing 2s steps(30, end);
          animation: typing 2s steps(30, end);
}

.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  background-color: rgba(33, 39, 68, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  display: none;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.activeMenu {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.exitMenu {
  position: absolute;
  right: 5%;
  top: 80px;
  cursor: pointer;
}

.menuListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  font-size: 30px;
}

.menuItem {
  cursor: pointer;
  padding: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menuItem:hover {
  font-size: 1.2em;
}

.projectsContainer {
  width: 100vw;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "roamingrolls roamingrolls roamingrolls silverbacks  silverbacks " "bjj-notes bjj-notes covid-app covid-app covid-app" "portfolio portfolio portfolio mat-tracker mat-tracker";
}

.project {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 600px;
  text-align: center;
}

.silverbacks {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: silverbacks;
  background-color: #74bad4;
}

.roamingrolls {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: roamingrolls;
  background-color: #8179b6;
}

.covid-app {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: covid-app;
  background-color: #dd8b83;
}

.mat-tracker {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: mat-tracker;
  background-color: #d8af88;
}

.portfolio {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: portfolio;
  background-color: #829ad2;
}

.bjj-notes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bjj-notes;
  background-color: #7cb199;
}

.project:hover {
  background-position: center;
  background-color: transparent;
}

.projectImage {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.projectText {
  position: absolute;
  margin-left: 20px;
  margin-top: -300px;
  text-align: start;
}

.projectTitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px 0px;
}

.links {
  text-decoration: none;
  color: white;
}

.projectTitle:hover {
  color: #9bf1ff;
}

.projectDescription {
  color: white;
  font-size: 25px;
  max-width: 400px;
  margin: 10px 0px;
}

.githubIcon {
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px 0px;
}

.githubIcon:hover {
  color: #9bf1ff;
}

.aboutContainer {
  padding: 50px;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #212744;
}

.aboutText {
  color: white;
  max-width: 80%;
  font-size: 30px;
  margin-top: 20px;
}

.aboutTitle {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  right: 200px;
}

.aboutDescription {
  line-height: 50px;
  position: relative;
  right: 200px;
}

.skillSet {
  margin-top: 100px;
}

.slideIn {
  -webkit-animation: slideIn 2s forwards;
          animation: slideIn 2s forwards;
}

.skillLogos {
  width: 80px;
  height: auto;
  opacity: 0;
  position: relative;
  top: 50px;
  margin: 10px 10px;
}

.skillLogoContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactContainer {
  background-color: #32395d;
  padding: 50px;
}

.contactTitle {
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: relative;
  right: 200px;
}

.contactItemTitle {
  font-size: 30px;
  font-weight: bold;
  color: white;
  position: relative;
  right: 200px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 20px;
}

.contactItem {
  width: 50%;
  min-width: 200px;
  padding: 10px;
  margin: 20px 50px;
  background-color: #212744;
  color: white;
  border: none;
  position: relative;
  top: 50px;
  opacity: 0;
}

#contactButton {
  margin-left: 50px;
}

.contactName {
  height: 40px;
  font-size: 25px;
}

.contactEmail {
  height: 40px;
  font-size: 25px;
}

.contactMessage {
  height: 200px;
  font-size: 20px;
}

.emailSentResponse {
  font-size: 25px;
  margin-left: 50px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
  scrollbar-width: none;
  width: 100vw;
  max-width: 100%;
}

.primaryButton {
  margin: 20px 20px 0px 0px;
  width: 6em;
  font-size: 25px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
  opacity: 0;
}

.primaryButton:hover {
  background-color: #9bf1ff;
  color: #212744;
}

textarea {
  resize: none;
}

@media (max-width: 1200px) {
  .projectsContainer {
    width: 100vw;
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "roamingrolls silverbacks " "bjj-notes covid-app" "portfolio mat-tracker";
  }
  .project {
    height: 400px;
  }
  .heroImage {
    height: 800px;
  }
  .heroIntro {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .heroTitle {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
  .heroCaption {
    color: white;
    font-size: 30px;
    font-weight: bold;
    color: #cef1f6;
  }
  .contactItem {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .heroIntro {
    color: white;
    font-size: 15px;
    font-weight: bold;
  }
  .heroTitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .heroCaption {
    color: white;
    font-size: 20px;
    font-weight: bold;
    color: #cef1f6;
  }
  .project {
    height: 300px;
  }
  .projectTitle {
    font-size: 20px;
  }
  .projectDescription {
    font-size: 15px;
    max-width: 150px;
  }
}

@media (max-width: 430px) {
  .header {
    font-size: 12px;
  }
  .projectDescription {
    font-size: 15px;
    max-width: 120px;
  }
  .logo div {
    margin: 0px 5px;
  }
  .heroImage {
    height: 600px;
  }
  .heroIntro {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  .heroTitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .heroCaption {
    color: white;
    font-size: 15px;
    font-weight: bold;
    color: #cef1f6;
    display: none;
  }
  .heroCaptionFrag1 {
    display: block;
  }
  .heroCaptionFrag2 {
    display: block;
  }
  .primaryButton {
    font-size: 15px;
    height: 30px;
  }
  #contactButton {
    font-size: 25px;
    height: 40px;
    width: 100px;
  }
  .aboutDescription {
    font-size: 15px;
    line-height: 30px;
  }
  .contactContainer {
    padding: 20px;
  }
  .aboutText {
    max-width: 90%;
  }
  .aboutTitle {
    font-size: 20px;
  }
  .skillLogoContainer {
    margin: 50px auto;
  }
  .skillSet {
    margin: 50px auto;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */