@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import "./variables";
@import "./header";
@import "./heroImage";

* {
  margin: 0px;
  padding: 0px;
  font-family: $mainFont;
}

.App {
  height: 100vh;
  width: 100vw;
}

.primaryButton {
  margin: 20px 0px;
  width: 6em;
  font-size: 25px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  transition: all 1s;
  cursor: pointer;
  opacity: 0;
}

.primaryButton:hover {
  background-color: $secondaryColor;
  color: $primaryColor;
}

@media (max-width: 1200px) {
  .heroImage {
    height: 600px;
  }

  .heroIntro {
    @include fontFormat(15px);
  }
  .heroTitle {
    @include fontFormat(40px);
  }
  .heroCaption {
    @include fontFormat(30px);
    color: $tertiaryColor;
  }
}

@media (max-width: 1000px) {
  .heroImage {
    height: 600px;
  }
}

@media (max-width: 800px) {
  .heroImage {
    height: 600px;
  }

  .heroIntro {
    @include fontFormat(15px);
  }
  .heroTitle {
    @include fontFormat(30px);
  }
  .heroCaption {
    @include fontFormat(20px);
    color: $tertiaryColor;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 12px;
  }

  .logo {
    div {
      margin: 0px 5px;
    }
  }
  .heroImage {
    height: 600px;
  }

  .heroIntro {
    @include fontFormat(12px);
  }
  .heroTitle {
    @include fontFormat(30px);
  }
  .heroCaption {
    @include fontFormat(15px);
    color: $tertiaryColor;
    display: none;
  }

  .heroCaptionFrag1 {
    display: block;
  }

  .heroCaptionFrag2 {
    display: block;
  }

  .primaryButton {
    font-size: 15px;
    height: 30px;
  }
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
