@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import "./variables";
@import "./header";
@import "./heroImage";
@import "./menu";
@import "./projects";
@import "./about";
@import "./contact";

* {
  margin: 0px;
  padding: 0px;
  font-family: $mainFont;
}

html {
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
  scrollbar-width: none;
  width: 100vw;
  max-width: 100%;
}

.primaryButton {
  margin: 20px 20px 0px 0px;
  width: 6em;
  font-size: 25px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  transition: all 1s;
  cursor: pointer;
  opacity: 0;
}

.primaryButton:hover {
  background-color: $secondaryColor;
  color: $primaryColor;
}

textarea {
  resize: none;
}

@media (max-width: 1200px) {
  .projectsContainer {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "roamingrolls silverbacks "
      "bjj-notes covid-app"
      "portfolio mat-tracker";
  }

  .project {
    height: 400px;
  }

  .heroImage {
    height: 800px;
  }

  .heroIntro {
    @include fontFormat(15px);
  }
  .heroTitle {
    @include fontFormat(40px);
  }
  .heroCaption {
    @include fontFormat(30px);
    color: $tertiaryColor;
  }

  .contactItem {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .heroIntro {
    @include fontFormat(15px);
  }
  .heroTitle {
    @include fontFormat(30px);
  }
  .heroCaption {
    @include fontFormat(20px);
    color: $tertiaryColor;
  }

  .project {
    height: 300px;
  }

  .projectTitle {
    font-size: 20px;
  }

  .projectDescription {
    font-size: 15px;
    max-width: 150px;
  }
}

@media (max-width: 430px) {
  .header {
    font-size: 12px;
  }

  .projectDescription {
    font-size: 15px;
    max-width: 120px;
  }

  .logo {
    div {
      margin: 0px 5px;
    }
  }
  .heroImage {
    height: 600px;
  }

  .heroIntro {
    @include fontFormat(12px);
  }
  .heroTitle {
    @include fontFormat(30px);
  }
  .heroCaption {
    @include fontFormat(15px);
    color: $tertiaryColor;
    display: none;
  }

  .heroCaptionFrag1 {
    display: block;
  }

  .heroCaptionFrag2 {
    display: block;
  }

  .primaryButton {
    font-size: 15px;
    height: 30px;
  }

  #contactButton {
    font-size: 25px;
    height: 40px;
    width: 100px;
  }

  .aboutDescription {
    font-size: 15px;
    line-height: 30px;
  }

  .contactContainer {
    padding: 20px;
  }

  .aboutText {
    max-width: 90%;
  }

  .aboutTitle {
    font-size: 20px;
  }

  .skillLogoContainer {
    margin: 50px auto;
  }

  .skillSet {
    margin: 50px auto;
  }
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(0px);
    opacity: 0;
  }

  to {
    transform: translateX(200px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0px);
    opacity: 0;
  }

  to {
    transform: translateY(-50px);
    opacity: 1;
  }
}
